@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            .w3-btn {
                width: 150px;
                background-color:darkslategrey;
            }
            .navbar-cart {
               
               
                word-break: break-all;
                width: 30px;
                height: 30px;
                background-size: cover;
                background-repeat: no-repeat;
             
               
            }
        </style>
    </head>
    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="w3-button  w3-round-xlarge" style="background-color:darkslategrey">Logout</button>
                </form>
            </li>
            @if (User.IsInRole("User"))
            {
                <li class="nav-item">

                    <a class="nav-link text-dark" asp-area="" asp-controller="Confirm" asp-action="Index">My Orders</a></li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">  <img class="navbar-cart" align="right" src="https://cdn.iconscout.com/icon/free/png-256/shopping-cart-1403820-1187982.png" /></a>

                </li>}

                @if (User.IsInRole("Admin"))
                {


                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                }
                }
                else
                {

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
                }

            </ul>
