@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<blockquote>
    <p class="font-italic">We, ABC Healthcare are a Mumbai-based pharma company who sells medicines throughout India as per the demand we receive from multiple hospitals and clinics. We have been operating in India for the last 15 years. We extended our business and launched our website to reach out to more hospitals, clinics and to each of yours individual houses in this difficult times. We are thrilled to be hear and promise you the best service. "STAY HOME, STAY SAFE" </p>
</blockquote>
<br />
<blockquote>
<h2 class="font-italic">Do not forget follow the below steps</h2>
    </blockquote>
<table align="center">
    <tr>
        <td>
            <img src="https://www.utsouthwestern.edu/covid-19/assets/how-to-wear-mask.jpg" width="400px" height="400px" />
        </td>
        <td>
            <blockquote>
                Remember to <b>WEAR MASK</b> in a proper way. Start practicing double masking

            </blockquote>
        </td>
    </tr>
    <tr>
        <td>
            <img src="https://townsquare.media/site/442/files/2020/03/Hand-Washing-Infographic.png?w=980&q=75" width="400px" height="400px" />
        </td>
        <td>
            <blockquote>
                Remember to <b>WASH/SANITIZE YOUR HANDS</b>with soap or a alcohol(99%) based sanitizer.

            </blockquote>
        </td>
    </tr>
    <tr>
        <td>
            <img src="https://d1nakyqvxb9v71.cloudfront.net/wp-content/uploads/2020/03/why-social-distancing-matters-hero.jpg" width="400px" height="400px" />
        </td>
        <td>
            <blockquote>
                Remember to <b>SOCIAL DISTANCE</b>. Avoid going out / going to crowded places.

            </blockquote>
        </td>
    </tr>
</table>